/*Reset styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Global styles*/
body {
    font-family: Ubuntu, sans-serif;
    position: relative;
}

/*---------- HEADER ---------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
}

/*Taniti Island Tours Logo*/
.logo, footer .logo {
    display: flex;
    align-items: center;
}

.logo .icon, footer .logo .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 50%;
    margin-right: 1em;
}

.logo .icon {
    background-color: black;
    color: white;
}

footer .logo .icon {
    background-color: white;
    color: black;
}

/*Buttons*/
.book-now-btn, .read-more-btn, .read-answer-btn, #booking-submit-btn, #contact-submit-btn {
    border: 1px solid transparent;
    padding: 1em;
    border-radius: 10px;
    width: 300px;
    font-weight: 900;
}

.book-now-btn {
    background-color: white;
    color: black;
    box-shadow: 1px 1px 3px black;
}

.read-more-btn, #booking-submit-btn, #contact-submit-btn {
    background-color: black;
    color: white;
}

.book-now-btn:hover, .read-more-btn:hover, #booking-submit-btn:hover, #contact-submit-btn:hover {
    cursor: pointer;
    transform: scale(.95);
}

.read-more-btn, #contact-submit-btn, #booking-submit-btn {
    margin: 1.5em auto;
}

/*Site Navigation*/
.site-nav {
    display: flex;
    list-style: none;
    gap: 2em;
    color: gray;
}

.site-nav a {
    text-decoration: none;
    color: gray;
}

.site-nav a:hover {
    color: black;
    border-bottom: 5px solid black;
}

.home-link, .about-link, .lodging-link, .transportation-link, .cuisine-link, .entertainment-link, .natural-attractions-link, .faq-link, .contact-link {
    border-bottom: 5px solid black;
}

/*Page indicator*/

/*---------- Main ---------*/
main {
    position: relative;
}

/*Hero*/
.hero-slideshow {
    height: 500px;
    background-color: gray;
    padding-left: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5em;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.hero-slideshow h2 {
    padding-top: 1em;
    font-size: 5em;
    margin-bottom: .5em;
}

.hero-slideshow h2 span {
    display: block;
}

#book-now-form-container, #contact-form-container {
    background-color: white;
    color: black;
    text-shadow: none;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}

#book-now-form-container {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1;
}

#book-now-form-container h3, #contact-form-container h3 {
    text-align: center;
    margin-bottom: 1.5em;
}

#book-now-form, #contact-form {
    display: flex;
    flex-direction: column;
}

#book-now-form label, #contact-form label {
    font-weight: 500;
    margin-bottom: .25em;
}

input {
    height: 50px;
    padding: 1em;
    margin-bottom: .5em;
    font-size: 1em;
    outline: none;
}

input:focus {
    border: 2px solid black;
}

#close-book-now-form {
    font-weight: 900;
    position: absolute;
    right: 1em;
    top: 1em;
}

#close-book-now-form:hover {
    cursor: pointer;
}

/*Highlights*/

/*Highlights container*/
.highlights {
    display: flex;
    gap: 1.5em;
}

/*Highlight card*/
.highlight {
    width: 33.3%;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

/*Highlight image*/
.highlight-photo {
    height: 200px;
    width: 100%;
    margin-bottom: 1em;
}

/*Highlight description*/
.highlight p {
    text-align: justify;
}

.more-highlight {
    display: none;
}

.highlight .read-more-btn {
    display: flex;
    justify-content: center;
    position: relative;
}

.highlight .read-more-btn .fa-arrow-down, .highlight .read-more-btn .fa-arrow-up {
    height: 16px;
    width: 16px;
    position: absolute;
    right: 16px;
}

/*--------- FOOTER ---------*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    background-color: black;
    color: white;
    position: relative;
}

.phone {
    font-size: 1.5rem;
}

/*---------- PAGES -----------*/

/*HOME*/
.copyright {
    font-size: .5rem;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.copyright a {
    text-decoration: none;
    color: white;
}

.copyright a:hover {
    border-bottom: 1px solid white;
}

.home-hero-slideshow {
    background: url("img/home/slideshow/home-ss-1.jpg") no-repeat center;
    background-size: cover;
    animation-name: play-slide-show;
    animation-delay: 5s;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

@keyframes play-slide-show {
    0% {
        background: url("img/home/slideshow/home-ss-1.jpg");
    }

    20% {
        background: url("img/home/slideshow/home-ss-1.jpg");
    }
    40% {
        background: url("img/home/slideshow/home-ss-2.jpg");
    }
    60% {
        background: url("img/home/slideshow/home-ss-3.jpg");
    }
    80% {
        background: url("img/home/slideshow/home-ss-4.jpg");
    }
    100% {
        background: url("img/home/slideshow/home-ss-5.jpg");
    }
}

/*ABOUT*/
.summary {
    padding: 0 1em;
}

.about-hero-slideshow {
    background: url("img/about/slideshow/about-ss-1.jpg") no-repeat center;
    background-size: cover;
    animation-name: play-about-slide-show;
    animation-delay: 5s;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

@keyframes play-about-slide-show {
    0% {
        background: url("img/about/slideshow/about-ss-1.jpg");
    }

    20% {
        background: url("img/about/slideshow/about-ss-1.jpg");
    }
    40% {
        background: url("img/about/slideshow/about-ss-2.jpg");
    }
    60% {
        background: url("img/about/slideshow/about-ss-3.jpg");
    }
    80% {
        background: url("img/about/slideshow/about-ss-4.jpg");
    }
    100% {
        background: url("img/about/slideshow/about-ss-5.jpg");
    }
}

/*LODGING*/
.lodging-hero-slideshow {
    background: url("img/lodging/slideshow/lodging-ss-1.jpg") no-repeat center;
    background-size: cover;
    animation-name: play-lodging-slide-show;
    animation-delay: 5s;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

@keyframes play-lodging-slide-show {
    0% {
        background: url("img/lodging/slideshow/lodging-ss-1.jpg");
    }

    20% {
        background: url("img/lodging/slideshow/lodging-ss-1.jpg");
    }
    40% {
        background: url("img/lodging/slideshow/lodging-ss-2.jpg");
    }
    60% {
        background: url("img/lodging/slideshow/lodging-ss-3.jpg");
    }
    80% {
        background: url("img/lodging/slideshow/lodging-ss-4.jpg");
    }
    100% {
        background: url("img/lodging/slideshow/lodging-ss-5.jpg");
    }
}

/*TRANSPORTATION*/
.transportation-hero-slideshow {
    background: url("img/transportation/slideshow/transportation-ss-1.jpg") no-repeat center;
    background-size: cover;
    animation-name: play-transportation-slide-show;
    animation-delay: 5s;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

@keyframes play-transportation-slide-show {
    0% {
        background: url("img/transportation/slideshow/transportation-ss-1.jpg");
    }

    20% {
        background: url("img/transportation/slideshow/transportation-ss-1.jpg");
    }
    40% {
        background: url("img/transportation/slideshow/transportation-ss-2.jpg");
    }
    60% {
        background: url("img/transportation/slideshow/transportation-ss-3.jpg");
    }
    80% {
        background: url("img/transportation/slideshow/transportation-ss-4.jpg");
    }
    100% {
        background: url("img/transportation/slideshow/transportation-ss-5.jpg");
    }
}

/*CUISINE*/
.cuisine-hero-slideshow {
    background: url("img/cuisine/slideshow/cuisine-ss-1.jpg") no-repeat center;
    background-size: cover;
    animation-name: play-cuisine-slide-show;
    animation-delay: 5s;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

@keyframes play-cuisine-slide-show {
    0% {
        background: url("img/cuisine/slideshow/cuisine-ss-1.jpg");
    }

    20% {
        background: url("img/cuisine/slideshow/cuisine-ss-1.jpg");
    }
    40% {
        background: url("img/cuisine/slideshow/cuisine-ss-2.jpg");
    }
    60% {
        background: url("img/cuisine/slideshow/cuisine-ss-3.jpg");
    }
    80% {
        background: url("img/cuisine/slideshow/cuisine-ss-4.jpg");
    }
    100% {
        background: url("img/cuisine/slideshow/cuisine-ss-5.jpg");
    }
}

/*ENTERTAINMENT*/
.entertainment-hero-slideshow {
    background: url("img/entertainment/slideshow/entertainment-ss-1.jpg") no-repeat center;
    background-size: cover;
    animation-name: play-entertainment-slide-show;
    animation-delay: 5s;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

@keyframes play-entertainment-slide-show {
    0% {
        background: url("img/entertainment/slideshow/entertainment-ss-1.jpg");
    }

    20% {
        background: url("img/entertainment/slideshow/entertainment-ss-1.jpg");
    }
    40% {
        background: url("img/entertainment/slideshow/entertainment-ss-2.jpg");
    }
    60% {
        background: url("img/entertainment/slideshow/entertainment-ss-3.jpg");
    }
    80% {
        background: url("img/entertainment/slideshow/entertainment-ss-4.jpg");
    }
    100% {
        background: url("img/entertainment/slideshow/entertainment-ss-5.jpg");
    }
}

/*NATURAL ATTRACTIONS*/
.natural-attractions-hero-slideshow {
    background: url("img/natural-attractions/slideshow/natural-attraction-ss-1.jpg") no-repeat center;
    background-size: cover;
    animation-name: play-nat-attract-slide-show;
    animation-delay: 5s;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

@keyframes play-nat-attract-slide-show {
    0% {
        background: url("img/natural-attractions/slideshow/natural-attraction-ss-1.jpg");
    }

    20% {
        background: url("img/natural-attractions/slideshow/natural-attraction-ss-1.jpg");
    }
    40% {
        background: url("img/natural-attractions/slideshow/natural-attraction-ss-2.jpg");
    }
    60% {
        background: url("img/natural-attractions/slideshow/natural-attraction-ss-3.jpg");
    }
    80% {
        background: url("img/natural-attractions/slideshow/natural-attraction-ss-4.jpg");
    }
    100% {
        background: url("img/natural-attractions/slideshow/natural-attraction-ss-5.jpg");
    }
}

/*FAQ*/
.faq-hero-slideshow {
    background: url("img/about/slideshow/about-ss-5.jpg") no-repeat center;
    background-size: cover;
}

.faq-contact {
    display: flex;
    justify-content: space-between;
    margin: 1.5em;
    gap: 1.5em;
}

.faq {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.question-container {
    padding-bottom: 1.5em;
}

.question {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.get-answer {
    padding: 1em;
    margin-left: 1em;
}

.get-answer:hover {
    cursor: pointer;
}

.answer {
    display: none;
}

#contact-form-container {
    width: 50%;
}

#comments {
    padding: 1em;
    font-size: 1rem;
    outline: none;
}

#comments:focus {
    border: 2px solid black;
}